<div class="container mt-5 text-center">
    <h3>Book Your Professional Services</h3>
    <div class="row mt-4">
      <!-- Image 1 -->
      <div class="col-md-4 mb-4">
        <img src="assets/cardio.jpg" alt="Image 1" class="img-fluid rounded-circle service-image">
        <p class="mt-2"><strong>Cardiologist</strong><br>Description of Service 1</p>
        <a (click)="navigateToService('Cardiologist')" class="btn btn-primary btn-more-info">More Info</a>
      </div>
  
      <!-- Image 2 -->
      <div class="col-md-4 mb-4">
        <img src="assets\neuro.png" alt="Image 2" class="img-fluid rounded-circle service-image">
        <p class="mt-2"><strong>Neurologist</strong><br>Description of Service 2</p>
        <a (click)="navigateToService('Neurologist')" class="btn btn-primary btn-more-info">More Info</a>
      </div>
  
      <!-- Image 3 -->
      

      <div class="col-md-4 mb-4">
        <img src="assets\phys.jpg" alt="Image 5" class="img-fluid rounded-circle service-image">
        <p class="mt-2"><strong>Psychiatrist</strong><br>Description of Service 5</p>
        <a (click)="navigateToService('Psychiatrist')" class="btn btn-primary btn-more-info">More Info</a>
      </div>
  
      <!-- Image 4 -->
      <div class="col-md-4 mb-4">
        <img src="assets\orp.png" alt="Image 4" class="img-fluid rounded-circle service-image">
        <p class="mt-2"><strong>Orthopedist</strong><br>Description of Service 4</p>
        <a (click)="navigateToService('Orthopedist')" class="btn btn-primary btn-more-info">More Info</a>
      </div>
  
      <!-- Image 5 -->
      <div class="col-md-4 mb-4">
        <img src="assets\radio.jpg" alt="Image 5" class="img-fluid rounded-circle service-image">
        <p class="mt-2"><strong>Radiologist</strong><br>Description of Service 5</p>
        <a (click)="navigateToService('Radiologist')" class="btn btn-primary btn-more-info">More Info</a>
      </div>
       <!-- Image 6 -->
       <div class="col-md-4 mb-4">
        <img src="assets\dermo.png" alt="Image 3" class="img-fluid rounded-circle service-image">
        <p class="mt-2"><strong>Dermatologist</strong><br>Description of Service 3</p>
        <a (click)="navigateToService('Dermatologist')" class="btn btn-primary btn-more-info">More Info</a>
      </div>
       
    </div>
  </div>