<!-- about.component.html -->
<section id="about">
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-6">
          <h2>About Us</h2>
          <p>
            Welcome to Doctor Booking App, your one-stop solution for finding and booking appointments with trusted doctors. 
            Our platform is designed to make the process of scheduling medical appointments convenient and efficient.
          </p>
          <p>
            Whether you are looking for a general practitioner, specialist, or a healthcare provider for a specific condition, 
            our app connects you with a network of qualified and experienced doctors in your area.
          </p>
          <p>
            Our mission is to provide a seamless experience for both patients and healthcare providers. Whether you need a routine checkup, specialized treatment, or a second opinion, our app connects you with a diverse network of qualified and experienced doctors in your area.
          </p>
          <p>
            Key Features:
          </p>
          <ul>
            <li>Search and book appointments with ease</li>
            <li>View detailed profiles of doctors, including specialties and patient reviews</li>
            <li>Receive timely reminders for upcoming appointments</li>
            <li>Secure and private communication with healthcare providers</li>
            <li>Access to your medical history and records</li>
          </ul>
        </div>
        <div class="col-md-6">
            <img src="assets/dct.png"alt="House Cleaning Image" class="img-fluid">
        </div>
      </div>
    </div>
  </section>
  